
<div class="row">
<div class="col-md-6 col-md-offset-3">
<h1>Users</h1>
<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages' %>
<%= f.label :name %><br>
<%= f.text_field :name, class: 'form_control' %><br>
<%= f.label :email%><br>
<%= f.email_field :email, class: 'form_control'%><br>
<%= f.label :phone %><br>
<%= f.phone_field :phone, class: 'form_control', required: true  %><br>
<%= f.label :password%><br>
<%= f.password_field :password, class: 'form_control', required: true  %><br>
<%= f.label :password_confirmation%><br>
<%= f.password_field :password_confirmation, class: 'form_control', required: true  %><br>

<%= f.submit "Create my account", class: "btn btn-primary" %>
<% end %>
</div>
</div>
